<h3 class="head size">Suggestions to Connect </h3>
<% @userv.each do |user| %>
  <% if !(user.admin) %>
    <section class="card my-5 shadow size" style="background-color: rgb(0,0,2);">
      <div class="card-body fl">
        <%= link_to user.email, class: "text-dark" %>
        <% if @current_user.following?(user) %>
          <%= button_to "Unfollow", unfollow_path(user) %>
        <% elsif @current_user.sent_follow_request_to?(user)%>
          <%= button_to "Cancel follow request", cancel_path(user) %>
        <% else %>
           <%= button_to "Follow",  follow_path(user) %> 
        <% end %>
      </div>
      <% user.user_accounts.each do |user_account| %>
        <div class=" mb-3 text-light out ">
           <% if user_account.picture.attached? %>
             <%= image_tag user_account.picture.url  %>
           <% else %>
            <%= image_tag("https://i.pinimg.com/736x/d4/37/4b/d4374b6dc2934880eaa7a5e8989c1f64.jpg") %>
           <% end %>
        </div>
      <% end %>
    </section>
<% end %>
<% end %>