<h4 class="center"><%= @user.username %>'s Connections</h4> 
<% @user.followers.each do |user| %> 
  <section class="card my-5 shadow small " style="background-color: rgb(0,0,2);">
    <div class="fl">
      <div class="card-body text-light">
      <% user.user_accounts.each do |user_account| %>
        <div class=" mb-3 text-light outer ">
          <% if user_account.picture.attached? %>
            <%= image_tag user_account.picture.url  %>
          <% else %>
            <%= image_tag("https://h-o-m-e.org/wp-content/uploads/2022/04/Blank-Profile-Picture-3.jpg") %>
          <% end %>
        </div>
      <% end %>
        <%= link_to user.username, profile_path(user), class: "link" %> 
        <%= button_to "Unfollow", unfollow_path(user), :onclick=> "return confirm('Are you sure, You want to unfollow?')"  %>
      </div>
      
    </div>
  </section>
<% end %>