<% if @current_user && !(@current_user.admin) %>
 
  <% if @current_user.user_accounts.count > 0 %>
    <% @current_user.user_accounts.each do |user_account| %>
        <% $current_job_interest = user_account.job.split(",") %> 
        <% $current_skill_set = user_account.skiill.split(",") %> 
         <div class="nav-item dropdown bgin">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Your Interests
                 </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="users">Job: <%  $current_job_interest.each do |current_job_interest| %><%= current_job_interest %><% end %></a></li>
                    <li><a class="dropdown-item" href="users">Skill: <%  $current_skill_set.each do |current_skill_set| %><%= current_skill_set %> <% end %></a></li>
                    </ul>
               </div>
       
    <% end %>
     <h2 class="fl" >
  
  <small class="text-dark ">Suggestions to Connect relevent to your skill and job interest</small>
</h2></br>
    <div class="wrapper">
    <% @user.each do |user| %>
      <% if !(user.admin) %>
        <% user.user_accounts.each do |user_account| %>
          <% job_interest = user_account.job.split(",") %> 
          <% skill_set = user_account.skiill.split(",") %> 
          <% $a = 0 %>
          <% $current_job_interest.zip($current_skill_set).each do |current_job_interest, current_skill_set| %>
            <% job_interest.zip(skill_set).each do |job_interest, skill_set| %>
              <% if current_job_interest.strip() == job_interest.strip() || (current_skill_set == skill_set) %>
                <% $a += 1 %>  
              <% end %>
            <% end %>
          <% end %>
          <% if $a > 0 %>
          <div class="d-flex flex-row bd-highlight mb-3" >
            <section class="card my-5 shadow " style="background-color: rgb(0,0,2);">
              <div class="card-body fl">
                <% user.user_accounts.each do |user_account| %>
                  <div class=" mb-3 text-light out ">
                    <% if user_account.picture.attached? %>
                      <%= image_tag user_account.picture.url  %></br>
                    <% else %>
                      <%= image_tag("https://i.pinimg.com/736x/d4/37/4b/d4374b6dc2934880eaa7a5e8989c1f64.jpg") %></br>
                    <% end %>
                    
                  </div>
                <% end %>
                <%= link_to user.username, profile_path(user), class: "text-primary link" %>
                <div class="text-light">
                job:<%= user_account.job %></br>
                    skill:<%= user_account.skiill %>
                    </div>
                <% if @current_user.following?(user) %>
                  <%= button_to "Unfollow", unfollow_path(user) %>
                <% elsif @current_user.sent_follow_request_to?(user)%>
                  <%= button_to "Cancel follow request", cancel_path(user) %>
                <% else %>
                  <%= button_to "Follow",  follow_path(user) %> 
                <% end %>
              </div>
            </section>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
  </div>

<% if @current_user && (@current_user.admin) %>
<div class="container">
<table class="table table-bordered tablesize"> 
        <thead class="table-light">
         
          <tr><th colspan="4"><h3 class="text-center">List Of Users</h3></th> </tr>
         
        </thead>
      <tbody>
        <% User.all.each do |user| %>
          <tr class="table-dark">
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td><%= link_to 'Delete', user_delete_path(user) , method: :delete, :onclick=> "return confirm('Are you sure you want to delete this user?')" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

