<% if @current_user.user_accounts.count > 0 %>
  <div class="nav-item dropdown bgin">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Your Interests
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Job: <%= @current_user.user_accounts.first.job  %></a></li>
      <li><a class="dropdown-item" href="#">Skill: <%= @current_user.user_accounts.first.skill %></a></li>
    </ul>
  </div>
  <h2 class="fl" ><small class="text-dark ">Suggested Users</small></h2></br>
  <div class="wrapper">  
    <% @matching_users.each do |user| %>
      <% if user.visible %>
      <% if user.id != @current_user.id %>
        <% if !(@current_user.following?(user)) %>
          <div class="d-flex flex-row bd-highlight mb-3 network" >
            <section class="card my-5 shadow card-background">
              <div class="card-body fl">
                <div class = "outer mb3">
                  <% if user.user_accounts.count > 0 %>
                    <% if user.user_accounts.first.picture.attached? %>
                      <%= image_tag user.user_accounts.first.picture.url  %>
                    <% else %>
                      <%= image_tag 'default.png' %>
                    <% end %>
                  <% else %>
                    <%= image_tag 'default.png' %>
                  <% end %>
                </div>
                <h3>----</h3>
                <%= link_to user.username, profile_path(user), class: "pad text-primary link" %>
                <div class="mb3 pad">
                  job:<%= user.user_accounts.first.job %></br>
                  skill:<%= user.user_accounts.first.skill %>
                  <%= user.visible %>
                </div>
                <% if @current_user.following?(user) %>
                  <%= button_to "Unfollow", unfollow_path(user), :onclick=> "return confirm('Are you sure, You want to unfollow?')",class: "pad btn btn-primary" %>
                <% elsif @current_user.sent_follow_request_to?(user)%>
                  <%= button_to "Cancel follow request", cancel_path(user),class: "pad btn btn-primary" %>
                <% elsif user.following?(@current_user) && !(@current_user.following?(user))%>
                  <%= button_to "Follow Back",  follow_path(user),class: "pad btn btn-primary"  %>
                <% else %>
                  <%= button_to "Follow",  follow_path(user),class: "pad btn btn-primary" %> 
                <% end %>
                <%= link_to remove_matching_user_path(user), :onclick=> "return confirm('Are you sure you want to remove this user?')", class: "link pad text-dark d-flex flex-column align-items-center" do %>
                  <%= icon('fa fa-xmark ') %>
                <% end %>
              </div>
            </section>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% end %>
  </div>
<% end %>
