<section class="card my-5 shadow size card-background">
  <div class="card-body">
    <%= form_with model: @job_field, url: new_job_field_path do |form| %>
      <% if form.object.errors.any? %>
        <div class="alert alert-danger">
          <% form.object.errors.full_messages.each do |message| %>
            <div><%= message %></div> 
          <% end %>
        </div>
      <% end %>
    <div class="mb-3">
      <%= form.label :Jobsector, class: 'required' %>
      <%= form.text_field :jobsection, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.submit "Add" , class: "btn btn-primary" %>
      </div>
    <% end %>
</div>
</section>
