 <h2 class="text-light">Apply For This Job:</h2>
<%= form_with model: [ @job_navigation, @job_navigation.reviews.build ], html: {multipart: true} do |form| %>
  <p>
    <div class="mb-3 text-light">
      <%= form.label :reviewer %>
      <%=form.text_field :reviewer %>
    </div>
  </p>
   <p>
    <div class="mb-3 text-light">
      <%= form.label :comment %>
      <%=form.text_field :body %>
    </div>
  </p>
    <%= form.submit "Post" , class: "btn btn-primary" %>
  </p>
<% end %>