 <%= form_with model: [ @job_navigation, @job_navigation.reviews.build ], html: {multipart: true} do |form| %>
  <% if form.object.errors.any? %>
      <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
      </div>
  <% end %>
  <p>
    <div class="mb-3 text-light center">
      <%= form.label :reviewer, class: "required" %>
      <%=form.text_field :reviewer, :required => true %>
    </div>
  </p>
   <p>
    <div class="mb-3 text-light center">
      <%= form.label :comment, class: "required" %>
      <%= form.text_field :body, :required => true %>
    </div>
  </p>
    <%= form.submit "Post" , class: "btn btn-primary" %>
<% end %>