<h3 class="size"> Jobs That You Have Applied </h3>
<% @job_navigation.each do |job_navigation| %>
    <% pre_apply = job_navigation.applies.find {|apply| apply.user_id == @current_user.id} %>
    <% if job_navigation.is_approved == true && (pre_apply) %>
      <section class="card my-5 shadow size" style="background-color: rgb(3, 3, 53);">
        <div class="card-body">
          <h3 class="card-subtitle mb-3 text-white">Application form  To Apply for Job </h3>
          <% job_navigation.user.user_accounts.each do |user_account| %>
            <div class=" mb-3 text-light outer">
              <% if user_account.picture.attached? %>
                <%= image_tag user_account.picture.url  %>
              <% else %>
                <%= image_tag("https://i.pinimg.com/736x/d4/37/4b/d4374b6dc2934880eaa7a5e8989c1f64.jpg") %>
              <% end %>
            </div>
          <% end %>
            <div class=" mb-3 text-light">
              <h5> By :</h5>
              <%= job_navigation.user.email %>
            </div>
            <div class=" mb-3 text-light">
              <h5>JOB TITLE :</h5>
              <%= job_navigation.jobtitle%>
            </div>
            <div class=" mb-3 text-light">
              <h5>JOB DESCRIPTION :</h5>
              <%= job_navigation.jobdescription %>
            </div>
            <div class=" mb-3 text-light">
              <h5>NUMBER OF VACANCY :</h5>
              <%= job_navigation.novac %>
            </div>
            <div class=" mb-3 text-light">
              <h5>SKILL:</h5>
              <%= job_navigation.skill%>
            </div>
            <div class=" mb-3 text-light">
              <h5>JOB ROLE:</h5>
              <%= job_navigation.jobrole%>
            </div>
            <div class=" mb-3 text-light">
              <h5>JOB SECTOR:</h5>
              <%= job_navigation.jobsector%>
            </div>
            <%= link_to 'Apply&Review', job_navigation_path(job_navigation) , class:"text-light" %>
      </section>
    <% end %>
<% end %>
 








    