<div class="d-flex justify-content-center">
  <%= form_with model: @job_navigation do |form| %>
    <%= form.hidden_field :user_id, value: @user_id %>
      <% if form.object.errors.any? %>
        <div class="alert alert-danger">
          <% form.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div> 
      <% end %>
    <section class="card my-5 shadow" style="background-color: rgb(3, 3, 53);">
      <div class="card-body">
        <h3 class="card-subtitle mb-3 text-white">Application form  To post for Job Recruitment</h3>
          <div class=" mb-3 text-light">
            <%= form.label :job_title %>
            <%= form.text_field :jobtitle, class: "form-control" , placeholder: "Developer"%>
          </div>
          <div class=" mb-3 text-light">
            <%= form.label :job_description %>
            <%= form.text_field :jobdescription, class: "form-control" %>
          </div>
          <div class=" mb-3 text-light">
            <%= form.label :vacancy %>
            <%= form.text_field :vacancy, class: "form-control" %>
          </div>
          <div class=" mb-3 text-light">
            <%= form.label :skill %>
            <%= form.text_field :skill, class: "form-control" %>
          </div>
          <div class=" mb-3 text-light">
            <h6>Job_Sector</h6>
            <% job_fields_array = JobField.all.map { |job_field| [job_field.jobsection] } %>
            <%= form.select :jobrole, options_for_select(job_fields_array) %>
          </div>
          <div class=" mb-3 text-light">
            <h6>Job_Role</h6>
            <% job_positions_array = JobPosition.all.map { |job_position| [job_position.jobdesignation] } %>
            <%= form.select :jobsector, options_for_select(job_positions_array) %>
          </div>
          <div class="d-flex text-center gap-3">
            <%= form.submit "Post" , class: "btn btn-primary" %>
          </div>
    </section>
  <% end %>
</div>

    