<% if @current_user && !(@current_user.admin) %>
<div class = "wrapperjob">
  <% @job_navigation.order(created_at: :desc).each do |job_navigation| %>
    <% pre_apply = job_navigation.applies.find {|apply| apply.user_id == @current_user.id} %>
    <% if job_navigation.is_approved == true && !(pre_apply) %> 

      <section class="card my-5 shadow center card-background">
        <div class="card-body">
          
            <div class = "outer mb3">
            <% user = job_navigation.user %>
   <% if user.user_accounts.count > 0 %>
             <% if user.user_accounts.first.picture.attached? %>
            <%= image_tag user.user_accounts.first.picture.url  %>
            <% else %>
            <%= image_tag 'default.png' %>
            <% end %>
              <% else %>
                        <%= image_tag 'default.png' %>
                      <% end %>
                      </div>
                      <h3>---</h3>
              <div class=" mb-3 ">
                <h5> By :</h5>
                <% user = job_navigation.user %>
                <%= link_to job_navigation.user.username, profile_path(user), class: "text-primary link" %>
              </div>
              <div class=" mb-3 ">
              <h5>JOB TITLE :</h5>
              <%= job_navigation.jobtitle%>
              </div>
              <div class=" mb-3 ">
              <h5>JOB DESCRIPTION :</h5>
              <%= job_navigation.jobdescription %>
              </div>
              <div class=" mb-3 ">
              <h5>NUMBER OF VACANCY :</h5>
              <%= job_navigation.vacancy %>
              </div>
              <div class=" mb-3 ">
              <h5>SKILL:</h5>
              <%= job_navigation.skill%>
              </div>
              <div class=" mb-3 ">
              <h5>JOB ROLE:</h5>
              <%= job_navigation.jobrole%>
              </div>
              <div class=" mb-3 ">
              <h5>JOB SECTOR:</h5>
              <%= job_navigation.jobsector%>
              </div>
              <%= link_to 'Details', job_navigation_path(job_navigation) , class:"text-primary link" %>
        </div>
      </section>
      <% end %>
    <% end %>
    </div>
  <% end %>

<% if @current_user && (@current_user.admin) %>
  <div class="container">
    <h2 class="text-center">Job Applications </h2>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Recruiter</th>
            <th scope="col">Job Title</th>
            <th scope="col">VACANCY</th>
            <th scope="col">Details</th>
            <th scope="col">Admin approval</th>
          </tr>
        </thead>
      <tbody>
        <% @job_navigation.order(created_at: :desc).each do |job_navigation| %>
          <td><%= job_navigation.user.email %></td>
          <td><%= job_navigation.jobtitle %></td>
          <td><%= job_navigation.vacancy %></td>
           <td><%= link_to 'More', job_navigation_path(job_navigation) %></td>
          <% if job_navigation.is_approved ==false %>
            <td id="<%= dom_id(job_navigation) %>"><%= link_to 'Approve',
              toggle_is_approved_job_navigation_path(id: job_navigation.id), remote: true, method: :patch,
              class: "btn btn-#{ job_navigation.is_approved ? 'warning' : 'success'}",
              :onclick=> "return confirm('Are you sure you want to approve this?')"%> | 
              <%= link_to "Reject", job_navigation_del_path(id: job_navigation.id), class: "btn btn-outline-danger", method: :delete, :onclick=> "return confirm('Are you sure?')" %></td>
          <% else %>
            <td> Approved by admin </tds>
          <% end %>
          </tr>
        <% end %> 
      </tbody>
    </table>
  </div>
<% end %>


