<section class="card my-5 shadow size card-background">
  <div class="card-body">
      <% @job_navigation.user.user_accounts.each do |user_account| %>
        <div class=" mb-3 text-light outer">
          <% if user_account.picture.attached? %>
            <%= image_tag user_account.picture.url  %>
          <% else %>
              <%= image_tag("https://h-o-m-e.org/wp-content/uploads/2022/04/Blank-Profile-Picture-3.jpg") %>
          <% end %>
        </div>
      <% end %>
      <div class=" mb-3">
        <h5> By :</h5>
        <% user = @job_navigation.user %>
        <%= link_to @job_navigation.user.username, profile_path(user), class: "text-primary link" %>
      </div>
      <div class=" mb-3 ">
        <h5>JOB TITLE :</h5>
        <%= @job_navigation.jobtitle%>
      </div>
      <div class=" mb-3 ">
        <h5>JOB DESCRIPTION :</h5>
        <%= @job_navigation.jobdescription %>
      </div>
      <div class=" mb-3 ">
        <h5>NUMBER OF VACANCY :</h5>
        <%= @job_navigation.vacancy %>
      </div>
      <div class=" mb-3 ">
        <h5>SKILL:</h5>
        <%= @job_navigation.skill%>
      </div>
      <div class=" mb-3 ">
        <h5>JOB ROLE:</h5>
        <%= @job_navigation.jobrole%>
      </div>
      <div class=" mb-3 ">
        <h5>JOB SECTOR:</h5>
        <%= @job_navigation.jobsector%>
      </div>
      <% if @current_user && !(@current_user.admin) %>
        <% pre_apply = @job_navigation.applies.find {|apply| apply.user_id == @current_user.id} %>
          <% if pre_apply%>
            <button type="button" class="btn btn-lg btn-primary" disabled>You have Applied</button>
          <% else %>
            <%= render "applies/form" %>
          <% end %>
          <h2 class>Add Comment</h2>
            <%= render "reviews/form" %>
          <h2 class>Comments</h2> 
        <%= render "reviews/comment" %>
      <% end %>
  </div>
</section>
    
