<%= link_to 'Create A new Job Role', new_job_position_path, class:"link-dark link btn btn-outline-light bg" %>
<div class="container">
  <table class="table table-bordered tablesize"> 
    <thead class="table-light">
      <tr><th colspan="4"><h3 class="text-center">List Of All The Job Roles</h3></th> </tr>
    </thead>
    <tbody>
      <% JobPosition.all.each do |job_position| %>
        <tr class="table-dark">
          <td><%= job_position.jobdesignation %></td>
          <td><%= link_to 'Edit', edit_job_position_path(job_position), class:"link" %></td>
          <td><%= link_to 'Show', job_position_path(job_position), class:"link" %></td>
          <td><%= link_to 'Delete', job_position_delete_path(job_position), class:"link" , method: :delete, :onclick=> "return confirm('Are you sure?')" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
      

   
    








