<section class="card my-5 shadow size" style="background-color: #f5f5dc;">
<div class="card-body">
<h5>Job role</h5>
<h3><%= @job_position.jobdesignation %> </h3>


<div class="flexrow4">
   <%= link_to edit_job_position_path(@job_position), class: " text-primary link d-flex flex-column align-items-center" do %>
    <%= icon('fa fa-pen ') %>
    
  <% end %>
          
          <%= link_to  job_position_delete_path(@job_position), class:"text-primary link d-flex flex-column align-items-center" ,method: :delete, :onclick=> "return confirm('Are you sure?')" do %>
            <%= icon('fa fa-trash ') %>
    
  <% end %>
  </div>
</div>
</section> 




